
<ion-view view-title="Chats">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}" class="item-remove-animate item-avatar item-icon-right"><img ng-src="{{chat.face}}"/>
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p><i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button ng-click="remove(chat)" class="button-assertive">Delete</ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>