# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

# Build System Directories
/platforms/
/plugins/

# External Packages
bower_components/
node_modules/

# Built Files
/www/
/src/js/templates.js
