ion-view(view-title='Dashboard')
  ion-content.padding
    .list.card
      .item.item-divider Recent Updates
      .item.item-body
        div
          | There is a fire in 
          b sector 3
    .list.card
      .item.item-divider Health
      .item.item-body
        div
          | You ate an apple today!
    .list.card
      .item.item-divider Upcoming
      .item.item-body
        div
          | You have 
          b 29
          |  meetings on your calendar tomorrow.
